/* 
=========================================================
=================== RESPONSIVE DESIGN ===================
=========================================================
*/

/*===================== max-width =====================*/

/* Laptop with HiDPI screen | 1440 x 900 */

/* Laptop with MDPI screen | 1280 x 800 */

/* iPad Pro | 1024 x 1366 */
@media screen and (max-width: 1024px) {
  header .logo { padding: 4vw 4vw 0; }

  header .menu { padding: 6vw 4vw 0; }

  section { padding: 8vw 2vw 4vw; }
}

/* iPad / iPad Mini | 768 x 1024 */
@media screen and (max-width: 768px) { 
  .general-text { font-size: 30px; }

  header .content { display: none; }

  header .dot-menu { 
    display: flex;
    align-items: center;
    padding: 10px 0 0 20px;
    margin: 0 2vw;
  }

  section .section-leyend { width: 80vw; }
  
  footer { 
    padding: 8vw 0 4vw; 
    flex-direction: column;
    align-items: center;
  }

  footer .social-media {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  footer .social-media a { font-family: 'Adelle Regular'; }

  footer .by { padding: 30px 0 0; }
}

/* Surface Duo | 540 x 720 */
@media screen and (max-width: 540px) {
  .general-text { font-size: 22px; }
  
  a { font-size: 14px; }

  header .logo { padding: 5vw 9vw 0; }

  header .menu { padding: 6vw 2vw 0; }

  section a .box-leyend { font-size: 18px; }

  section img {  
    width: 44vw;
    height: 44vw;
  }
}

/* iPhone 6/7/8 Plus | 414 x 736 */  
@media screen and (max-width: 500px) {
  a { font-size: 13px; }
  
  header .dot1, .dot2, .dot3 { 
    height: 7px;
    width: 7px;
    margin: 2px;
  }

  section .beginning { width: 50vw; }

  section .section-leyend { padding: 12vw 2vw 0; }

  footer .social-media { width: 60%; }
}

/* Moto G4 | Galaxy S5 | 360 x 640 */
