/* 
=========================================================
======================== GLOBAL =========================
=========================================================
*/

/* ====================== FONTS ====================== */
@font-face {
  font-family: 'Adelle Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Adelle Regular'), url('../fonts/Adelle_Reg.woff') format('woff');
}

@font-face {
  font-family: 'Adelle Light';
  font-style: normal;
  font-weight: normal;
  src: local('Adelle Light'), url('../fonts/Adelle_light.woff') format('woff');
}

@font-face {
  font-family: 'Adelle Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Adelle Italic'), url('../fonts/Adelle_Italic.woff') format('woff');
}

@font-face {
  font-family: 'Adelle SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Adelle SemiBold'), url('../fonts/Adelle_Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Adelle Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Adelle Bold'), url('../fonts/Adelle_Bold.woff') format('woff');
}
/* ===================== /FONTS ====================== */

* {
  margin: 0;
  padding: 0;
  font-family: 'Adelle Light';
  font-weight: normal;
  background-color: #014FFE;
  color: #FFF;
}

body::-webkit-scrollbar { display: none; }

a { 
  text-decoration: none;
  font-size: large;
}

.general-text {
  font-family: 'Adelle Regular';
  font-weight: normal;
  font-size: 40px;
}

bold {
  font-family: 'Adelle Bold';
  font-weight: normal;
}

/* 
=========================================================
======================== HEADER ========================= 
=========================================================
*/
header { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 100;
}

header .logo, .menu { padding: 2vw 4vw 0vw; }

header .logo img { width: 100%;}

header .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px 0;
}

header .social-media {
  width: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .bar-menu {
  display: flex;
  align-items: center;
}

header .bar1, .bar2, .bar3 {
  width: 40px;
  height: 5px;
  border-radius: 4px;
  background-color: #FFF;
  transition: all 0.5s ease-in-out;
  margin: 7px 0;
}

header .dot-menu { display: none; }

header .dots {
  display: flex;
  align-items: center;
  flex-direction: row;
}

header .dot1, .dot2, .dot3 { 
  height: 12px;
  width: 12px;
  background-color: #FFF;
  border-radius: 50%;
  margin: 3px;
 }


/* 
=========================================================
======================== SECTION ========================
=========================================================
*/
section { padding: 2vw; }

section .beginning { padding: 10vw 2vw 2vw; }

section img {  
  width: 20vw;
  height: 20vw;
}

section .boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

section .box { margin: 3vw 2vw; }

section img {
  display: flex;
  align-items: center;
  border-radius: 20px;
}

section .box-leyend { 
  margin: 10px 0 0;
  padding: 8px 0 0; 
}

section .section-leyend {
  padding: 5vw 2vw 0;
  width: 50vw;
}

#box:hover {
  -moz-transform: scale(1.15);  
  -webkit-transform: scale(1.15);  
  transform: scale(1.15);
  transition: all 0.5s ease;  
}

/* 
=========================================================
========================= FOOTER ========================
=========================================================
*/
footer { 
  padding: 2vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer a { font-family: 'Adelle Bold'; }

footer .social-media { display: none; }