/* 
=========================================================
=================== RESPONSIVE DESIGN ===================
=========================================================
*/

.general-text { font-size: 28px; } /* USED IN: iPad / iPad Mini | 768 x 1024 */

/*===================== max-width =====================*/

/* Laptop with HiDPI screen | 1440 x 900 */

/* Laptop with MDPI screen | 1280 x 800 */

/* iPad Pro | 1024 x 1366 */
@media screen and (max-width: 1024px) {
  section { padding: 10vw 4vw 0; }
}

/* iPad / iPad Mini | 768 x 1024 */
@media screen and (max-width: 768px) {
  header .logo, .menu { padding: 5vw 7vw 0vw; }

  header .content { display: flex; }

  header .social-media { display: none; }

  section { padding: 10vw 7vw 0; }

  section .beginning { 
    width: 70vw; 
    padding: 10vw 0vw 8vw;
  }

  section .section-leyend { display: none; }

  footer {
    padding: 15vw 7vw 4vw;
    text-align: start;
    align-items: flex-start;
  }

  footer .social-media {
    width: 50%;
    justify-content: space-between;
  }

  footer .contact { padding: 30px 0 0; }
}

/* Surface Duo | 540 x 720 */
@media screen and (max-width: 540px) {
  .general-text { font-size: 27px; }
   
  header .dot-menu { display: none; }

  header .content { padding: 0 20px 0; }
  
  footer { padding: 6vw 8vw 4vw; }
  
  footer .social-media { width: 60%; }
}

/* iPhone 6/7/8 Plus | 414 x 736 */  
@media screen and (max-width: 500px) { 
  header .menu { padding: 3vw 7vw 0vw; }

  footer .social-media { width: 70%; }
}

/* Moto G4 | Galaxy S5 | 360 x 640 */
@media screen and (max-width: 360px) { 
  .general-text { font-size: 23px; }
  
  footer .social-media { width: 80%; }
}


/*===================== min-heigh =====================*/
/* iPad Pro | 1024 x 1366 */
@media screen and (min-height: 1024px) {
  .general-text { font-size: 35px; }
}

@media screen and (min-height: 1366px) {
  section .beginning { padding: 80px 0; }

  footer { padding: 250px 0 0; }
}