/* 
=========================================================
======================== GLOBAL =========================
=========================================================
*/
h3 { font-family: 'Adelle Italic'; }

.general-text { font-size: 30px; }

/* 
=========================================================
======================== HEADER ========================= 
=========================================================
*/
header .bar1, .bar2, .bar3 { transition: all 0.5s ease-in-out; }

header .bar1 {
  -webkit-transform: rotate(-45deg) translate(-10px, 7px);
  transform: rotate(-45deg) translate(-10px, 7px);
}

header .bar2 {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  background: transparent;  
}

header .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, -7px);
  transform: rotate(45deg) translate(-10px, -7px);
}


/* 
=========================================================
======================== SECTION ========================
=========================================================
*/
section { padding: 5vw 4vw 0; }

section .beginning {
  padding: 10vw 0 4vw;
  width: 50vw; 
}

section .services { padding: 0 2vw; }

/* 
=========================================================
========================= FOOTER ========================
=========================================================
*/
footer .social-media { display: none; }